extends layout

block content

  section#home(name='home')
  #headerwrap
    .container
      .row.centered
        .col-lg-12
          h1 welcome to 
            b Pratt
          h3 show your product with this handsome theme
          br
        .col-lg-2
          h5 amazing results
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          img.hidden-xs.hidden-sm.hidden-md(src='/bootstrap/img/arrow1.png')
        .col-lg-8
          img.img-responsive(src='/bootstrap/img/app-bg.png', alt='alt')
        .col-lg-2
          br
          img.hidden-xs.hidden-sm.hidden-md(src='/bootstrap/img/arrow2.png')
          h5 awesome design
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.

  section#desc(name='desc')
  #intro
    .container
      .row.centered
        h1 designed to excel
        br
        br
        .col-lg-4
          img(src='/bootstrap/img/intro01.png', alt='')
          h3 community
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .col-lg-4
          img(src='/bootstrap/img/intro02.png', alt='')
          h3 schedule
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .col-lg-4
          img(src='/bootstrap/img/intro03.png', alt='')
          h3 monitoring
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      br
      br
