extends layout

block content
  #work
    #banner.page-header
      .row
        .col-lg-6
          h1= title

    #books
      .row.centered
        .col-lg-4.col-sm-12
          img.book-cover(src='/img/lotr-fellowship-cover.png', alt='')
          h3 community
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .col-lg-4.col-sm-12
          img.book-cover(src='/img/lotr-towers-cover.png', alt='')
          h3 schedule
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .col-lg-4.col-sm-12
          img.book-cover(src='/img/lotr-return-cover.png', alt='')
          h3 monitoring
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
